.wrapper
  .left
    .left__top 
      %p.name 
        = current_user.name
      %ul.menu
        %li.cog
          = link_to "groups/new"
            = fas.fa-edit  class:'icon'
        %li.edit   
          = link_to "users/edit"
            
    .left__body
      .group__name
        -# = render partial: "group"
        %p.group__name 
        %p.group__message
